<div class="tile-wrapper">
    <div class="tile-content">
          <h2>
              Tiles Header 
          </h2>
          <p>
              Tiles Description hdhdhdhdlhdsakkads
          </p>
          <div class="price">
              5 €
          </div>
      </div>
      <div class="image">
          <picture>
              <source type="image/webp" srcset="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC83NGY4MGIzMS0wYTJiLTRkZjAtODJhNy00ZmNhMDIxZTc4MWEuanBlZw==">
              <img alt="Chicken Burrito" src="https://d1ralsognjng37.cloudfront.net/74f80b31-0a2b-4df0-82a7-4fca021e781a.jpeg" aria-hidden="true" class="product-image">
          </picture> 
      </div>
  </div>