<div class="header">
    <div class="header-wrapper">
        <ul>
            <a href="#">
                <img src="https://d2zv6vzmaqao5e.cloudfront.net/190x100!/foodticket/images/4741/_cms1561459381_naan-logo.jpg" width="70" height="40" alt="test">
            </a>
            <li><a href="#login">Login</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about-us">About us</a></li>
            <li><a routerLink="/order">Order online</a></li>
            <li><a routerLink="/">Home</a></li>
        </ul>
    </div>
</div>