<app-banner></app-banner>
<app-ticket></app-ticket>
<app-submenu></app-submenu>
<div class="content">
    <div class="menu-group">
        <h2 id="start">Starter</h2>
        <div class="tiles">
            <div class="tile">
                <app-tile></app-tile>
            </div>
            <div class="tile">
                <app-tile></app-tile>
            </div>
            <div class="tile">
                <app-tile></app-tile>
                </div>
        </div>
        <div class="tiles">
            <div class="tile">
                <app-tile></app-tile>
            </div>
            <div class="tile">
                <app-tile></app-tile>
            </div>
            <div class="tile">
                <app-tile></app-tile>
            </div>
        </div>
    </div>
</div>