<div class="ticket-wrapper">
    <div class="ticket">
        <div class="ticket-header">
        your order 
        </div>
        <div class="ticket-sub-header">
        From <a href="#naan">Naan Indian Curry - Amsterdam</a>
        </div>
        <div class="order-line">
        <div class="orderline-item">
                pizza :
            </div>
        <div class="orderline-price">
            5  
            </div>
        </div>
        <div class="order-line">
        <div class="orderline-item">
                pizza :
            </div>
        <div class="orderline-price">
            5  
            </div>
        </div>
        <div class="note"><input type="text" autocomplete="on" placeholder="Add a note for the store" class="note-text" value=""></div>
        <button>Proceed with checkout</button>
    </div>
</div>